<!-- start our blog section -->
<section class="blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>The Blog</h2>
                    <p>Latest Updated</p>
                </div>
            </div>
        </div>
        <div class="row blog-slider-active">
           {% for blog in site.posts %}
            <div class="col-md-4">
                <div class="single-blog">
                    <div class="blog-thumb">
                        <a href="{{blog.url}}"><img src="{{blog.image}}" alt="{{blog.title}}"></a>
                    </div>
                    <div class="blog-title">
                        <div class="date">
                            <h4>{{blog.date | date: "%d"}} <span>{{blog.date | date: "%b"}}</span></h4>
                        </div>
                        <div class="blog-desc">
                            <a href="{{blog.url}}"><h3>{{blog.title | truncate: 50}}</h3></a>
                            <p>{{blog.excerpt}}</p>
                        </div>
                    </div>
                    <a href="{{blog.url}}" class="read-more">Read more</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end of blog section -->A