<!-- start brand slider -->
<div class="brand-slider" style="background-image: url({{site.baseurl}}/assets/img/yellow-rake.png)">
  <!--   <div class="container">
        <div class="row brand-slider-active">
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/brand-1.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/brand-2.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/brand-3.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/brand-4.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/brand-5.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/brand-4.png" alt="">
            </div>
            <div class="single-brand col-md-2 text-center">
                <img src="{{site.baseurl}}/assets/img/brand-5.png" alt="">
            </div>
        </div>
    </div>-->
</div>
<!-- end of brand slider -->