<!-- start experience section -->
<section class="experience-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="experience-content">
                    <h1>We have <br>
                    <span>25</span> Years Experience</h1>
                    <p>offers general contracting services and is mainly located in Arlington, Texas. It has received several awards such as the AGC General Contractor of the Year Award, the Best Of Award from Texas Construction Magazine for Sports / Entertainment Facility Construction.</p>
                    <div class="our-mission-list">
                        <h4>Our Mission & Vision</h4>
                        <p>To maintain the highest levels of professionalism, integrity, honesty and fairness in our relationships with our suppliers.</p>
                        <ul>
                            <li>To perform for our customers the highest level of quality construction services at fair and market competitive prices.</li>
                            <li>To ensure the longevity of our company through repeat and referral business achieved by customer satisfaction.</li>
                            <li>To perform for our customers the highest level of quality construction services at fair and market competitive prices.</li>
                            <li>To maintain the highest levels of professionalism, integrity, honesty and fairness in our relationships with our suppliers.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="single-image">
                    <img src="{{site.baseurl}}/assets/img/man.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of experience section -->