<section class="third-services four-services section-padding">
<div class="container">
    <div class="row services-slider">
        <div class="col-md-4">
            <div class="single-services third-services">
                <div class="icon">
                    <i class="icofont icofont-industries-alt-2"></i>
                </div>
                <div class="content">
                    <h4>Consulting</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-services third-services">
                <div class="icon">
                    <i class="icofont icofont-chart-histogram"></i>
                </div>
                <div class="content">
                    <h4>Analytics &amp; Research</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-services third-services">
                <div class="icon">
                    <i class="icofont icofont-people"></i>
                </div>
                <div class="content">
                    <h4>Construction Management</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-services third-services">
                <div class="icon">
                    <i class="icofont icofont-chair"></i>
                </div>
                <div class="content">
                    <h4>Digital Enterprise</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-services third-services">
                <div class="icon">
                    <i class="icofont icofont-architecture-alt"></i>
                </div>
                <div class="content">
                    <h4>Engineering &amp; Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-services third-services">
                <div class="icon">
                    <i class="icofont icofont-industries-alt-4"></i>
                </div>
                <div class="content">
                    <h4>Designing &amp; Building</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>