<section class="experience-section padding-bottom0 section-padding">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-services">
                        <div class="icon">
                            <i class="icofont icofont-industries-alt-2"></i>
                        </div>
                        <div class="content">
                            <h4>Consulting</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                        <div class="icon">
                            <i class="icofont icofont-chart-histogram"></i>
                        </div>
                        <div class="content">
                            <h4>Analytics &amp; Research</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                        <div class="icon">
                            <i class="icofont icofont-people"></i>
                        </div>
                        <div class="content">
                            <h4>Construction Management</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                        <div class="icon">
                            <i class="icofont icofont-chair"></i>
                        </div>
                        <div class="content">
                            <h4>Digital Enterprise</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                <div class="icon">
                    <i class="icofont icofont-architecture-alt"></i>
                </div>
                <div class="content">
                    <h4>Engineering &amp; Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                <div class="icon">
                    <i class="icofont icofont-industries-alt-4"></i>
                </div>
                <div class="content">
                    <h4>Designing &amp; Building</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 text-right">
            <div class="single-image">
                <img src="{{site.baseurl}}/assets/img/man-3.png" alt="">
            </div>
        </div>
    </div>
</div>
</section>