    <!-- start footer section -->
    <section class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h2 class="widget-title">ABOUT CONSTRUC</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                        <div class="newsletter">
                            <h4>Our News Letter</h4>
                            <form action="#">
                                <input type="email" placeholder="email">
                                <button class="fa fa-paper-plane"></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h2 class="widget-title">QUICK LINK</h2>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget address-widget">
                        <h2 class="widget-title">OFFICE ADDRESS</h2>
                        <ul>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-social-google-map"></i>
                                </div>
                                <div class="addres">
                                    <p>2752 Willison Street</p>
                                    <p>Eagan, MN 55121, United State</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-phone"></i>
                                </div>
                                <div class="addres">
                                    <p>+1 763-227-5032</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-envelope"></i>
                                </div>
                                <div class="addres">
                                    <p>info@construc.com</p>
                                </div>
                            </li>
                            <li>
                                <div class="addres-icon">
                                    <i class="icofont icofont-fax"></i>
                                </div>
                                <div class="addres">
                                    <p>info@construc.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget business-hour">
                        <h2 class="widget-title">BUSINESS HOUR</h2>
                        <p>Our support available to help you 24 hours a day, seven days a week.</p>
                        <ul>
                            <li>Monday-Friday: <span>9am to 5pm</span></li>
                            <li>Saturday: <span>10am to 2pm</span></li>
                            <li>Sunday: <span>Closed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of footer section -->
    <!-- start copyright section -->
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="copryright">
                        <p>© 2018 <a href="#">zoomdev</a>. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="footer-social">
                        <a href="#" class="icofont icofont-social-facebook"></a>
                        <a href="#" class="icofont icofont-social-twitter"></a>
                        <a href="#" class="icofont icofont-social-linkedin"></a>
                        <a href="#" class="icofont icofont-social-google-plus"></a>
                        <a href="#" class="icofont icofont-social-youtube"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of copyright section -->