<!-- start header section -->
<header id="header" class="header-area header-one">
    <div class="topbar-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 text-left">
                    <div class="topbar-list">
                        <div class="single-topbar">
                            <p> <span class="fa fa-map-marker"></span> 33 Pokunawatta Road, Horethuduwa, Moratuwa</p>
                        </div>
                        <div class="single-topbar">
                            <p> <span class="fa fa-envelope"></span> info@cenfracee.lk</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="topbar-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-pinterest"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-logo">
                        <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/img/logo.png" alt="{{site.title}}"></a>
                    </div>
                </div>
                <div class="col-md-8">
                  {% include navigation.html %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end of header section -->