<!-- start page header -->
<section class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="paget-title">
                    <h2 class="text-capitalize">{{page.title}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-left">
                <ol class="breadcrumb">
                    <li><a href="{{site.url}}">Home &gt; </a></li>
                    <li class="active">{{page.title}}</li>
                </ol>
            </div>
            <div class="col-md-4 text-right">
                <div class="get-in-touch-btn">
                    <a href="{{site.url}}/pages/contact.html">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of page header -->