    <section class="recent-work pagefour section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Recent Work</h2>
                        <p>We Completed</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="project-nav text-center">
                        <ul>
                            <li class="active" data-filter="*">All Project</li>
                            <li data-filter=".engineering">engineering</li>
                            <li data-filter=".gas-oil">gas &amp; oil</li>
                            <li data-filter=".industry">industry</li>
                            <li data-filter=".manufature">Manufature</li>
                            <li data-filter=".research">Research</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row projectactive">
                <div class="col-md-6 col-lg-4 gas-oil">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 engineering">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-2.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 manufature">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-3.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 industry gas-oil">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-4.jpg" alt=""></a>
                        </div>
                        <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 research">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-5.jpg" alt=""></a>
                        </div>
                         <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 manufature industry">
                    <div class="single-project project-second">
                        <div class="project-thumb">
                            <a href="#"><img src="{{site.baseurl}}/assets/img/work-lg-6.jpg" alt=""></a>
                        </div>
                        <div class="project-desc">
                            <div class="project-desc-content">
                                <a href="#"><h4>The Laghum Hotel</h4></a>
                            <p>In answering the ‘why choose us’, I’ve been honest about what we’re about.</p>
                            <a class="read-more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="load-more-button">
                        <a href="{{site.url}}/pages/projects" class="btn btn-default button-primary">See All Works</a>
                    </div>
                </div>
            </div>
        </div>
    </section>