<!-- start slider area -->
<section class="main-slider-area">
    <div>
        <div class="main-slider-item" style="background-image: url({{site.baseurl}}/assets/img/home1.jpg);">
            <div class="slider-one-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="main-slider-welcome-text">
                                <div class="slider-cell">
                                    <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">We Make Your <br> Dream Into Reality </h2>
                                    <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">The European languages are members of the same family. Their separate existence is a myth. For science, <br> music, sport, etc, Europe uses the same vocabulary. </h2>
                                    <div class="welcome-button" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">
                                        <a href="#" class="btn btn-default button-primary">Get Started</a>
                                            <a href="https://themeforest.net/user/zoomdev" class="btn btn-default button-primary btn-dark">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of slider area -->