<section class="four-team-section section-padding">
<div class="container">
    <div class="row team-slider-active">
        <div class="col-md-6 col-lg-3">
            <div class="four-single-team">
                <div class="teamthumb">
                    <img src="{{site.baseurl}}/assets/img/team-sm-1.png" alt="">
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-behance"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div>
                <div class="four-team-title">
                    <h4>Clara D. Porter</h4>
                    <p>Founder & Ceo</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="four-single-team">
                <div class="teamthumb">
                    <img src="{{site.baseurl}}/assets/img/team-sm-2.png" alt="">
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-behance"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div>
                <div class="four-team-title">
                    <h4>Dev Imran</h4>
                    <p>WordPress developer</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="four-single-team">
                <div class="teamthumb">
                    <img src="{{site.baseurl}}/assets/img/team-sm-3.png" alt="">
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-behance"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div>
                <div class="four-team-title">
                    <h4>Harold J. Roscoe</h4>
                    <p>Vice President</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="four-single-team">
                <div class="teamthumb">
                    <img src="{{site.baseurl}}/assets/img/team-sm-4.png" alt="">
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-behance"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div>
                <div class="four-team-title">
                    <h4>Robert E. Dyeke</h4>
                    <p>Manager</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="four-single-team">
                <div class="teamthumb">
                    <img src="{{site.baseurl}}/assets/img/team-sm-1.png" alt="">
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-behance"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div>
                <div class="four-team-title">
                    <h4>Clara D. Porter</h4>
                    <p>Founder & Ceo</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>