<!-- start testimonial section -->
<section class="testimonial-section section-padding">
    <div class="foroverlay"></div>
    <div class="container">
        <div class="row align-middle">
            <div class="col-md-4">
                <div class="testimonial-title">
                    <h1>OUR <br>
                    <span>CLIENT</span> TESTIMONIAL</h1>
                    <p>We differentiate ourselves and stand ahead of our competition by providing a superior customer experience.</p>
                </div>
            </div>
            <div class="col-md-8 text-center">
                <div class="testimonial-slider-active">
                    <div class="single-testimonial-slider">
                        <div class="testimoial-image">
                            <img src="{{site.baseurl}}/assets/img/testimonial/ranel_t.png" alt="">
                        </div>
                        <div class="testimonial-client-title">
                            <h4>Ranel, T</h4>
                            <p>CEO, Founder, Collins-Jerde</p>
                        </div>
                        <div class="testimonail-comment">
                            <span class="left-quote"><i class="icofont icofont-quote-left"></i></span>
                            <p>"I would like to personally thank you for your outstanding product. Looking forward to doing more business in the future. </p>
                            <span class="right-quote"><i class="icofont icofont-quote-right"></i></span>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="testimoial-image">
                            <img src="{{site.baseurl}}/assets/img/testimonial/tom_norris.png" alt="">
                        </div>
                        <div class="testimonial-client-title">
                            <h4>Tom Norris</h4>
                            <p>Supply Chain Manager, Haley Inc</p>
                        </div>
                        <div class="testimonail-comment">
                            <span class="left-quote"><i class="icofont icofont-quote-left"></i></span>
                            <p>Cenfracee has completely surpassed our expectations.</p>
                            <span class="right-quote"><i class="icofont icofont-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of testimonial section -->