<!-- start why choose section -->
<section class="why-choose-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>Why Choose Us</h2>
                    <p>We’ve built a reputation in the market through years of delivering quality
                        <br> services, on time, with competitive pricing.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-why-choose">
                    <div class="icon">
                        <i class="icofont icofont-focus"></i>
                    </div>
                    <div class="content">
                        <h4>We focus on you.</h4>
                        <p>We will make your building construction project proceed in </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-why-choose">
                    <div class="icon">
                        <i class="icofont icofont-money-bag"></i>
                    </div>
                    <div class="content">
                        <h4>Cost Efficient</h4>
                        <p>Our approach to safety and regulatory compliance has enabled us to grow.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-why-choose">
                    <div class="icon">
                        <i class="icofont icofont-news"></i>
                    </div>
                    <div class="content">
                        <h4>Dependability</h4>
                        <p>Our approach to safety and regulatory compliance has enabled us to grow.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-why-choose">
                    <div class="icon">
                        <i class="icofont icofont-cheer-leader"></i>
                    </div>
                    <div class="content">
                        <h4>Project Leadership</h4>
                        <p>Our approach to safety and regulatory compliance has enabled us to grow.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-why-choose">
                    <div class="icon">
                        <i class="icofont icofont-safety"></i>
                    </div>
                    <div class="content">
                        <h4>Impeccable Safety </h4>
                        <p>Our approach to safety and regulatory compliance has enabled us to grow.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-why-choose">
                    <div class="icon">
                        <i class="icofont icofont-vehicle-cement"></i>
                    </div>
                    <div class="content">
                        <h4>Reputation</h4>
                        <p>Our approach to safety and regulatory compliance has enabled us to grow.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of why choose section -->