.services-slider ul.slick-dots {
    text-align: center;
    margin-bottom: 0;
}

.services-slider ul.slick-dots li button {
    background: #000531;
}
.services-slider ul.slick-dots li.slick-active button{
    background-color: #ffa100
}
.four-services{
    background: #f5f5f5;
}
.experience-content .load-more-button {
    margin-top: 50px;
}
section.experience-section.padding-bottom0.section-padding {
    padding-bottom: 0;
}

/*start  team section*/

.teamthumb img {
    /* background: #f5f5f5; */
    display: flex;
}

.team-social {
    text-align: center;
    position: absolute;
    bottom: -50px;
    width: 100%;
    background: #000531;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .6s
}

.four-single-team:hover .team-social {
    bottom: 0;
}
.teamthumb {
    position: relative;
    background: #f5f5f5;
    height: 280px;
    padding-top: 25px;
    overflow: hidden;
}

.team-social a {
    color: #ffa100;
    padding: 0px 10px;
}

.four-team-title {
    text-align: center;
    margin-top: 30px;
}

.four-team-title h4 {
    margin-bottom: 10px;
    color: #000531;
    font-weight: 700;
}
.four-team-title p {
    margin-bottom: 0;
}
/*end of team section*/

/*start second blog section*/

.single-blog.second-blog {
    border: 1px solid #ddd;
    padding: 20px;
}

.single-blog.second-blog .date {
    display: none;
}

section.blog-area.blogbg.section-padding {
    background: #f5f5f5;
}


