---
layout: default
title: Testimonials
---
{% include page_header.html %}
<!-- start Testimonial section -->
<section class="client-feedback-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 single-feedback">
                <div class="feedback-comment">
                    <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed </p>
                </div>
                <div class="client-details">
                    <div class="client-image">
                        <img src="{{site.baseurl}}/assets/img/client-2.png" alt="">
                    </div>
                    <div class="client-name">
                        <h4>AL Imran</h4>
                        <p>WordPress Developer</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 single-feedback">
                <div class="feedback-comment">
                    <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed </p>
                </div>
                <div class="client-details">
                    <div class="client-image">
                        <img src="{{site.baseurl}}/assets/img/client-3.png" alt="">
                    </div>
                    <div class="client-name">
                        <h4>Jhone Dhu</h4>
                        <p>manager of iso</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-feedback">
                    <div class="feedback-comment">
                        <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed </p>
                    </div>
                    <div class="client-details">
                        <div class="client-image">
                            <img src="{{site.baseurl}}/assets/img/client-1.png" alt="">
                        </div>
                        <div class="client-name">
                            <h4>Terminate</h4>
                            <p>UI / UX</p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 single-feedback">
                <div class="feedback-comment">
                    <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed </p>
                </div>
                <div class="client-details">
                    <div class="client-image">
                        <img src="{{site.baseurl}}/assets/img/client-3.png" alt="">
                    </div>
                    <div class="client-name">
                        <h4>Jhone Dhu</h4>
                        <p>manager of iso</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 single-feedback">
                <div class="feedback-comment">
                    <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed </p>
                </div>
                <div class="client-details">
                    <div class="client-image">
                        <img src="{{site.baseurl}}/assets/img/client-2.png" alt="">
                    </div>
                    <div class="client-name">
                        <h4>AL Imran</h4>
                        <p>WordPress Developer</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 single-feedback">
                <div class="feedback-comment">
                    <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed </p>
                </div>
                <div class="client-details">
                    <div class="client-image">
                        <img src="{{site.baseurl}}/assets/img/client-3.png" alt="">
                    </div>
                    <div class="client-name">
                        <h4>Jhone Dhu</h4>
                        <p>manager of iso</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Testimonial section -->
<!-- start default testimonial -->
<section class="testimonial-section section-padding">
    <div class="foroverlay"></div>
    <div class="container">
        <div class="row align-middle">
            <div class="col-md-4">
                <div class="testimonial-title">
                    <h1>OUR <br> <span>CLIENT</span> TESTIMONIAL</h1>
                    <p>It has roots in a piece of classical Latin literature from 45 BC, making it</p>
                </div>
            </div>
            <div class="col-md-8 text-center">
                <div class="testimonial-slider-active">
                    <div class="single-testimonial-slider">
                        <div class="testimoial-image">
                            <img src="{{site.baseurl}}/assets/img/testimonial.png" alt="">
                        </div>
                        <div class="testimonial-client-title">
                            <h4>John Smith</h4>
                            <p>CEO, Founder</p>
                        </div>
                        <div class="testimonail-comment">
                            <span class="left-quote"><i class="icofont icofont-quote-left"></i></span>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                            <span class="right-quote"><i class="icofont icofont-quote-right"></i></span>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="testimoial-image">
                            <img src="{{site.baseurl}}/assets/img/testimonial.png" alt="">
                        </div>
                        <div class="testimonial-client-title">
                            <h4>John Smith</h4>
                            <p>CEO, Founder</p>
                        </div>
                        <div class="testimonail-comment">
                            <span class="left-quote"><i class="icofont icofont-quote-left"></i></span>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                            <span class="right-quote"><i class="icofont icofont-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include brand_slider.html %}
