<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>Cenfracee | The Efficient Frontier in Private Equity</title>
    <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/menumaker.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/responsive.css">
</head>

<body class="js">
    <div id="preloader"></div>
    {% include header.html %}
      {{content}}
    {% include footer.html %}
    <!-- Optional JavaScript -->
    <script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/waypoints.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.counterup.js"></script>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.nicescroll.js"></script>
    <script src="{{site.baseurl}}/assets/js/slider.js"></script>
    <script src="{{site.baseurl}}/assets/js/menu.js"></script>
    <script src="{{site.baseurl}}/assets/js/slick.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4uayw359fjMh4P9i2rKKZYHzXaqTRNs"></script>
    <script src="{{site.baseurl}}/assets/js/gmap.js"></script>
    <script id="dsq-count-scr" src="//construc-jk.disqus.com/count.js" async></script>
    <script src="{{site.baseurl}}/assets/js/active.js"></script>
</body>

</html>
